* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1580px;
    margin: 0 auto;
    padding: 50px 50px;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}


.header-list-item {
    margin-right: 50px;
}

.header-nav-list-item-link {
    color: #000000;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.header-nav-list-item-link:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black; 
    transition: width 0.5s; 
}

.header-nav-list-item-link:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; 
    background-color: red; 
    transition: width 0.5s; 
}

.header-list-item:last-child {
    margin: 0;
}

ul {
    padding: 0; 
    list-style: none;
}

.description {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.description-skill {
    padding-right: 150px;
}

.border { 
    margin: 0 auto;
    border-bottom: 1px solid black;
    width: 1400px;
}

.left-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-button {
    padding-left: 25px;
    padding-top: 15px;
    width: 208px;
    height: 47px;
    background-color: #F50000;
    border-radius: 2px;
    border: none;
    color: white;
}

.header-button:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.425), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.header-img {
    border-radius: 150px;
}

.header-img:hover {
    box-shadow: 0 20px 19px 0 #000000;
}

.title {
    padding-bottom: 25px;
}

.about-me-dscrpt {
    font-size: 16px;
    line-height: 30px;
}

.works-cards {
    display: flex;
    margin-bottom: 150px;
    align-items: center;
    justify-content: space-between;
}

.works-righ-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.works-name {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.works-download {
    padding: 15px 30px;
    background-color: #292929;
    border-radius: 2px;
    border: none;
    color: white;
}

.github-icon {
    display: inline-block;
    margin-left: 114px;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("img/github.svg");  
}

.works-download:hover {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.425), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a:hover {
    transform: scale(1.5);
    transition: 1s;
}

.works-dscrpt {
    margin-top: 0;
    padding-top: 70px;
}

.works-cards-prev {
    width: 350px;
    height: 250px;
    border-radius: 45px;
}

.footer-social {
    text-align: center;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.footer-social-item {
    margin-right: 35px;
}

.footer-social-item:hover {
    transform: translateY(5px);
    transition: 2ps;
}

.footer-copyright {
    margin-top: 80px;
    align-items: center;
}

.footer-copy {
    text-align: center;
    font-size: 10px;
}